.container {
    background-color: #000000;
    padding: 1rem; 
    text-align: center; 
}

.social {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

footer .social {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

footer .social li {
    margin-right: 1.25rem;
}

footer .social li:last-child {
    margin-right: 0;
}

footer .social li a {
    color: #007bff;
    text-decoration: none;
}

footer .social li a:hover {
    text-transform: uppercase;
}